
# Created by https://www.toptal.com/developers/gitignore/api/react,dotnetcore,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=react,dotnetcore,vscode

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### vscode ###
/.vscode

# End of https://www.toptal.com/developers/gitignore/api/react,dotnetcore,vscode